.day {
    position: relative;
    border: 1px solid #ccc;
    flex: 0 1 14.2%;
    height: 100px;
}

.day .label {
    position: absolute;
    top: 5px;
    left: 5px;

    font-weight: 500;
    font-size: 125%;
}