.day {
    position: relative;
    border: 1px solid #ccc;
    flex: 0 1 14.2%;
    height: 100px;
}

.destination-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    padding: 5px;
    text-align: left;
}

.day .label {
    position: absolute;
    left: 5px;
    bottom: 5px;

    font-weight: 500;
    font-size: 125%;
}

.destinations {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.destinations .destination {
    flex: 0 1 50%;
    height: 16px;
    z-index: -10;
}

.destinations.count-1 .destination {
    flex: 0 1 100%;
}

.destinations.count-2.flex-column .destination {
    flex: 0 1 8px;
}

.destinations.count-3 .destination {
    height: 8px;
}

.destinations.count-3 .destination:first-child {
    flex: 0 1 100%;
}

.flex-column {
    flex-direction: column;
}

.events {
    margin-top: 15px;
}