.day {
    position: relative;
    border: 1px solid #ccc;
    flex: 0 1 14.2%;
}

.day.outside {
    background-color: #eee;
}

.day.selected {
    background-color: #eee2d2;
}

.destination-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    padding: 5px;
    text-align: left;
}

.day .label {
    position: absolute;
    left: 5px;
    bottom: 5px;

    font-weight: 500;
    font-size: 125%;
}

.destinations {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.events {
    margin-top: 15px;
}